body {
  margin: 0;
  padding: 0 2rem;
}
p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}
h1 {
  text-align: center;
}
#hsl-title {
  margin-top: 5rem;
}

#color-display-rgba,
#color-display-hsl {
  width: 300px;
  height: 300px;
  margin: 20px auto;
  background-color: #000;
}
#color-ranges-rgba {
  margin: 20px auto;
  width: 300px;
}
#color {
  margin-top: 2rem;
}

label {
  margin-top: 1rem;
  display: block;
}
input[type="range"] {
  width: 170px;
}
